global
        log /dev/log   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        timeout connect 5s
        timeout client 50s
        timeout server 50s
        option  httplog
        retries 3

frontend kubernetes-frontend
  bind *:6444
  mode tcp
  option tcplog
  default_backend kubernetes-backend

backend kubernetes-backend
  option httpchk GET /healthz
  http-check expect status 200
  mode tcp
  option ssl-hello-chk
  balance roundrobin
    server master1 192.168.1.230:6443 check fall 3 rise 2
